[submodule "subprojects/event_manager"]
	path = subprojects/event_manager
	url = https://github.com/aliabbas299792/event_manager
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "vendor/sha1"]
	path = vendor/sha1
	url = https://github.com/vog/sha1.git
[submodule "vendor/cpp_utility"]
	path = vendor/cpp_utility
	url = git@github.com:aliabbas299792/cpp_utility.git
